/Assembly-UnityScript-vs.unityproj
/Assembly-UnityScript-Editor-vs.unityproj
/Assembly-UnityScript-Editor.unityproj
/Assembly-UnityScript.unityproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/AmorUnity-csharp.sln
/AmorUnity.userprefs
/AmorUnity.sln
/Temp
/Library
